.price-color {
    color: #FF3E8A;
}

.banner-section-image2 {
    background-color: #FCEAE8;
}

.banner-section-image1 {
    background-color: #c944fd;
}

.banner-section-image3 {
    background-color: #31abe4;
}